* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}

body {
	background:#fff ;
	color:#333;
	font-family:Arial, helvetica, sans-serif;
}

a {
	text-decoration: none;
	color:#F24C27;
}

.wrapp {
	max-width: 1000px;
	width:80%;
	margin:auto;
	overflow: hidden;
}

.wrapp-m {
	width:85%;
	margin:auto;
	overflow: hidden;
}

header {
	width: 100%;
	height: 83px;
	padding:20px 0;
	background: #17202A;
	overflow: hidden;
}

.logo {
	width: 80px;
	float: left;
}

.logo img {
	width: 80px;
	vertical-align: top;
}

nav {
	float: right;
}

nav ul li {
	display: inline-block;
	margin:0px 5px;
}

nav ul li a {
	display: block;
	background: #F4ECF7;
	color: #001A3B;
	padding:10px 20px;
	text-decoration: none;
	border-radius:3px;
	transition:all 300ms ease;
}

nav ul li a:hover {
	color: #fff;
	background: #BB8FCE ;
}

.mensaje {
	background:#BB8FCE;
	padding: 20px;
	color:#fff;
	margin:20px 0;
	border-radius:5px;
}

.articulo {
	float: left;
	width: 100%;
	padding:0px 20px 20px 0px;
	margin-left: 10%;
}


.articulos {
	float: left;
	width: 70%;
	padding:0px 20px 20px 0px;
}

aside {
	float: right;
	width: 22%;
	background:#A3E4D7 ;
	color:#17202A;
	padding:20px;
	border-radius:5px;
	margin-bottom: 20px;
}

.widget ul {
	margin-left:20px;
}

.widget ul li {
	margin:10px 0;
	width: 100%;
}

.widget ul li a {
	color:#17202A;
}

.widget ul li a:hover {
	text-decoration: underline;
}

.ingresar:link, .ingresar:visited, .ingresar:active{
	text-decoration: none;
}

.main{
	text-align: center;
}

a.ingresar{
	text-align: center;
	float: left;
	width: 30%;
	background:#001A3B;
	color:#fff;
	padding:30px;
	border-radius:5px;
	padding: 5px;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 35%;
	background:#001A3B;
	color:#fff;
}

footer {
	width: 100%;
	background: #616A6B ;
	padding:30px 0;
	color:#fff;
}

footer p {
	text-align:center;
}